$active-bg: #cec;
$active-text: #363;
$active-text-dark: #030;
$active-outline: #7a7;
$special-text: #003b5a;
$corner-radius: 1rem;

#main {
    max-width: 350px;
    padding: 1rem 0 0 0;

    .nav-link {
        border-radius: $corner-radius $corner-radius 0 0;
        background-color: #eee;
        color: #999;
        border-bottom-color: $active-outline;

        &.active {
            background-color: $active-bg;
            border-color: $active-outline;
            border-bottom-color: $active-bg;
            color: $active-text;
            font-weight: bold;
        }
    }
}

.tab-content>div>.container,
.tab-content>div>.container-fluid {
    min-height: 480px;
    border: solid 1px $active-outline;
    border-radius: 0 0 $corner-radius $corner-radius;
    border-top: none;
    padding: 0.5rem;
}

.container.stage {
    text-align: center;
    font-size: 1.2rem;
    padding: 0;
    margin-bottom: 1rem;
    border: 1px solid $active-outline;
}

.section {
    padding: 0.25rem;
    border: 1px dashed blue;

    .inner {
        display: flex;
        justify-content: center;
        align-items: center;

        .callout {
            color: $special-text;
            font-weight: bold;
            text-decoration: underline;
        }

        button {
            margin: auto 0.75rem;
        }
    }

    &.stage-banner {
        background-color: $active-bg;
        border: 1px solid $active-outline;
        color: $active-text-dark;
    }

    &.timer {
        padding-top: 0;
    }

    &.buttons {
        display: flex;
        justify-content: space-around;
    }
}
